{% extends "base.html" %}
{% block title %}Add VR Counselor / Support Coordinator{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
VR Counselor / Support Coordinator added
{% else %}
Error adding VR Counselor / Support Coordinator
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
<form action="add_vr_counselor_support_coordinator.rs" method="post">
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" /><br /><br />
  <input type="submit" value="Add VR Counselor / Support Coordinator" />
</form>
{% endblock %}