{% extends "base.html" %}
{% block title %}Add Billing Office{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Successfully added billing office
{% else %}
Error adding billing office
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
<form action="/add_billing_office.rs" method="post">
  <label for="billing_office_name"></label>Billing Office Name:<br />
  <input type="text" id="billing_office_name" name="billing_office_name" /><br /><br />
<input type="submit" value="Add Billing Office" />
</form>
{% endblock %}