{% extends "base.html" %}
{% block title -%}
{%- let add_type -%}
{%- if is_authorization -%}
{%- let add_type = "Authorization" -%}
{%- else -%}
{%- let add_type = "Budget Line" -%}
{%- endif -%}
Add {{ add_type }}
{%- endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{%- let add_type -%}
{%- if is_authorization -%}
{%- let add_type = "authorization" -%}
{%- else -%}
{%- let add_type = "budget line" -%}
{%- endif -%}
{% if worked %}
Added {{ add_type }}
{% else %}
Error adding {{ add_type }}
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
{%- let add_type -%}
{%- if is_authorization -%}
{%- let add_type = "authorization" -%}
{%- else -%}
{%- let add_type = "budget_line" -%}
{%- endif -%}
<form action="/add_{{ add_type }}.rs" method="post">
  <label for="auth_num">Authorization &num;:</label><br />
  <input type="text" id="auth_num" name="auth_num" /><br /><br />
  <label for="start_date">Start date: </label><br />
  <input type="date" id="start_date" name="start_date" /><br /><br />
  <label for="end_date">End date: </label><br />
  <input type="date" id="end_date" name="end_date" /><br /><br />
  <label for="client_uuid">Client:</label><br />
  <select id="client_uuid" name="client_uuid">
  {% for waiting_client in waiting_clients_list %}
    <option value="{{ waiting_client.uuid }}">{{ waiting_client.intake_data.client_fname }} {{ waiting_client.intake_data.client_lname }}</option>
  {% endfor %}
    <option value="below">Not listed: use form below</option>
  </select><br /><br />
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" /><br /><br />
{%- let add_type_u -%}
{%- if is_authorization -%}
{%- let add_type_u = "Hours" -%}
{%- else -%}
{%- let add_type_u = "Units" -%}
{%- endif -%}
{%- let add_type_l -%}
{%- if is_authorization -%}
{%- let add_type_l = "hours" -%}
{%- else -%}
{%- let add_type_l = "units" -%}
{%- endif -%}
{%- let add_type_s -%}
{%- if is_authorization -%}
{%- let add_type_s= "hour" -%}
{%- else -%}
{%- let add_type_s = "unit" -%}
{%- endif -%}
  <label for="{{ add_type_l }}_authed">{{ add_type_u }} authorized:</label><br />
  <input type="text" id="{{ add_type_l }}_authed" name="{{ add_type_l }}_authed" /><br /><br />
  <label for="rate">Rate $ / {{ add_type_s }}:</label><br />
  <input type="text" id="rate" name="rate" /><br /><br />
  <label for="service_area">Service Area:</label><br />
  <select id="service_area" name="service_area">
  {% for service_area in service_areas %}
  {% let area_name = service_area.get_name() %}
    <option value="{{ service_area }}">{{ area_name }}</option>
  {% endfor %}
  </select>
  <br /><br />
{%- let add_type -%}
{%- if is_authorization -%}
{%- let add_type = "VR Counselor" -%}
{%- else -%}
{%- let add_type = "Support Coordinator" -%}
{%- endif -%}
  <label for="vr_counselor_support_coordinator">{{ add_type }}</label><br />
  <input type="text" id="vr_counselor_support_coordinator" name="vr_counselor_support_coordinator" /><br /><br />
  <label for="service_provided">Service Provided:</label><br />
  <select id="service_provided" name="service_provided">
  {% for service in available_services %}
  {% let client_service = service.client_service_string() %}
    <option value="{{ service }}">{{ client_service }}</option>
  {% endfor %}
  </select>
  <br /><br />
{%- if !is_authorization -%}
  <label for="mmu">Monthly Max Units:</label><br />
  <input type="text" id="mmu" name="mmu" /><br /><br />
{%- else -%}
  <input type="hidden" id="mmu" name="mmu" value=""/>
  <label for="service_type">Service Type:</label><br />
  <select id="service_type" name="service_type">
  {% for service_type in crate::reports::billing_tracking_vr_jd::Service::list_all() %}
    <option value="{{ service_type }}">{{ service_type }}</option>
  {% endfor %}
  </select>
  <br /><br />
{%- endif -%}
<label for="billing_office">Billing Location:</label><br />
<select name="billing_office" id="billing_office">
{% for billing_office in billing_offices %}
  <option value="{{ billing_office }}">{{ billing_office }}</option>
{% endfor %}
</select><br /><br />
{%- let add_type -%}
{%- if is_authorization -%}
{%- let add_type = "Authorization" -%}
{%- else -%}
{%- let add_type = "Budget Line" -%}
{%- endif -%}
<input type="checkbox" id="assoc" name="assoc" value="true">
<label for="assoc">Associate this client with the currently clocked in one?</label><br /><br />
  <input type="submit" value="Add {{ add_type }}" />
</form>
{% endblock %}