{% extends "base.html" %}
{% block title %}Add Service Area{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Successfully added service area
{% else %}
Error adding service_area
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
<form action="/add_service_area.rs" method="post">
  <label for="service_area_name"></label>Service Area Name:<br />
  <input type="text" id="service_area_name" name="service_area_name" /><br /><br />
<input type="submit" value="Add Service Area" />
</form>
{% endblock %}