{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Successfully added employee
{% else %}
Error adding employee
{% endif %}
<br />
{% when None %}
{% endmatch %}
<form action="add_employee.rs" method="post">
  <label for="user">Username:</label><br />
  <input type="text" id="user" name="user" /><br /><br />
  <label for="email">Email:</label><br />
  <input type="text" id="email" name="email" /><br /><br />
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" /><br /><br />
  <label for="dept">Department:</label><br />
  <input type="text" id="dept" name="dept" /><br /><br />
  <label for="jobd">Job Description:</label><br />
  <textarea id="jobd" name="jobd" rows="10" cols="50"></textarea><br /><br />
  <label for="office">Office Location:</label><br />
  <select id="office" name="office">
  {% for office_name in offices %}
  {% let office = OfficeLocation::from(office_name.clone()) %}
    <option value="{{ office }}">{{ office_name }}</option>
  {% endfor %}
</select>
<br />
Permissions:
<br />
{% for (name, label, val) in checkboxes %}
<input type="checkbox" id="{{ name }}" name="allowed[]" value="{{ val }}">
<label for="allowed[]">{{ label }}</label><br />
{% endfor %}
<br />
<input type="submit" value="Send Email" />
</form>
{% endblock %}