<!DOCTYPE xhtml />
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<style>{% block style %}
  .monospace {
    font-family: 'Courier New', monospace;
  }
{% endblock %}
</style>
</head>
<body>
{% include "logo.html" %}
{% block content %}
{% endblock content %}
</body>
</html>
