<!DOCTYPE xhtml />
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<style>{% block style %}
  .monospace {
    font-family: 'Courier New', monospace;
  }
  a, p, body, h1, h2, h3, h4, h5, h6, td, th, form, strong, small, label {
    font-family: "Times New Roman", Times, serif;
  }
{% endblock %}
</style>
</head>
<body>
{% include "logo.html" %}
{% block navbar %}
{{ navigation_bar|escape("none") }}
{% endblock %}
{% block content %}
{% endblock content %}
</body>
</html>
