{% extends "base.html" %}
{% block title %}Billing Tracking VR Hourly{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Row added
{% else %}
Error adding row
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
<form action="/add_billing_tracking_row.rs" method="post">
  {#
  <label for="hours_authed">Hours Authorized:</label><br />
  <input type="text" id="hours_authed" name="hours_authed" /><br /><br />
  #}
  <label for="hours_billed">Hours:minutes billed:</label><br />
  <input type="text" id="hours_billed" name="hours_billed" />:
  <select id="minutes_billed" name="minutes_billed">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select>
  <br /><br />
  {#
  <label for="hours_unbilled">Hours:minutes unbilled:</label><br />
  <input type="text" id="hours_unbilled" name="hours_unbilled" />:
  <select id="minutes_unbilled" name="minutes_unbilled">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select><br /><br />
  <label for="working_with">Currently working with: </label>
  <input type="checkbox" name="currently_working_with" id="currently_working_with" /><br /><br />
  #}
  <label for="notes">Notes:</label><br />
  <input type="text" id="notes" name="notes" /><br /><br />
  <input type="submit" value="Add Row" />
</form>
{% endblock %}