{% extends "base.html" %}
{% block title %}Billing Tracking VR Hourly{% endblock %}
{% block style %}
  td.top_left {
    text-align: left;
    vertical-align: top;
  }
  p.center {
    text-align: center;
  }
  table.bordered {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  th.bordered {
    border: 1px solid black;
  }
  td.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.left_bordered {
    border: 1px solid black;
    text-align: left;
  }
{% endblock %}
{% block content %}
<table class="bordered">
<tr>
<td class="bordered">
Client Name
</td>
<td class="bordered">
Office Location
</td>
<td class="bordered">
Counselor
</td>
<td class="bordered">
Client Specialist Assigned
</td>
<td class="bordered">
Auth Type
</td>
<td class="bordered">
Hours Authorized
</td>
<td class="bordered">
Hours Billed
</td>
<td class="bordered">
Hours Unbilled
</td>
<td class="bordered">
Hours Remaining
</td>
<td class="bordered">
Monthly Max
</td>
</tr>
{% for (client_name, service_area, counselor, employee_name, auth_type, hours_authed, hours_billed, hours_unbilled, hours_remaining, monthly_max_hours) in table_rows %}
<tr>
<td class="left_bordered">{{ client_name }}</td>
<td class="left_bordered">{{ service_area }}</td>
<td class="left_bordered">{{ counselor }}</td>
<td class="left_bordered">{{ employee_name }}</td>
<td class="left_bordered">{{ auth_type }}</td>
<td class="bordered">{{ hours_authed }}</td>
<td class="bordered">{{ hours_billed }}</td>
<td class="bordered">{{ hours_unbilled }}</td>
<td class="bordered">{{ hours_remaining }}</td>
<td class="bordered">{{ monthly_max_hours }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
