{% extends "base.html" %}
{% block title %}Billing Tracking VR JD{% endblock %}
{% block style %}
  td.top_left {
    text-align: left;
    vertical-align: top;
  }
  p.center {
    text-align: center;
  }
  table.bordered {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  th.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.left_bordered {
    border: 1px solid black;
    text-align: left;
  }
{% endblock %}
{% block content %}
{%- match success -%}
{%- when Some with (worked) -%}
{%- if worked -%}
Row saved
{%- else -%}
Error saving row
{%- endif -%}
<br /><br />
{%- when None -%}
{%- endmatch -%}
<table class="bordered">
<form action="/save_billing_tracking_vr_jd_row.rs" method="post">
<tr>
  <th class="bordered">Client Name</th>
  <th class="bordered">Office<br />Location</th>
  <th class="bordered">Auth &num;</th>
  <th class="bordered">Assigned JD</th>
  <th class="bordered">Auth<br />Type</th>i
  <th class="bordered">Total JD<br />Hours</th>
  <th class="bordered">VR Counselor<br />Name</th>
  <th class="bordered">VR Billing<br />Location</th>
  <th class="bordered">Currently Job<br />Seeking?</th>
  <th class="bordered">Service</th>
  <th class="bordered">Comments</th>
</tr>
<tr>
  <td class="bordered">{{ client_name }}</td>
  <td class="bordered">{{ office_location }}</td>
  <td class="bordered">{{ auth_number }}</td>
  <td class="bordered">{{ employee_name }}</td>
  <td class="bordered">{{ auth_type }}</td>
  <td class="bordered">{{ total_jd }}</td>
  <td class="bordered">{{ vr_counselor }}</td>
  <td class="bordered">
  {{ billing_location }}
  </td>
  <td class="bordered">
  {{ cur_job_tracking_yn }}
  </td>
  <td class="bordered">
  {{ service_type }}
  </td>
  <td class="bordered">
  <input type="text" name="comments" id="comments" value="{{ comments }}" />
  </td>
</tr>
</table>
<br /><input type="submit" value="Save Row" />
</form>
{% endblock %}