{% extends "base.html" %}
{% block title %}Billing Tracking VR JD Report{% endblock %}
{% block style %}
  td.top_left {
    text-align: left;
    vertical-align: top;
  }
  p.center {
    text-align: center;
  }
  table.bordered {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  th.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.left_bordered {
    border: 1px solid black;
    text-align: left;
  }
{% endblock %}
{% block content %}
<table class="bordered">
<tr>
  <th class="bordered">Client Name</th>
  <th class="bordered">Office<br />Location</th>
  <th class="bordered">Auth &num;</th>
  <th class="bordered">Assigned JD</th>
  <th class="bordered">Auth<br />Type</th>
  <th class="bordered">Total JD<br />Hours</th>
  <th class="bordered">VR Counselor<br />Name</th>
  <th class="bordered">VR Billing<br />Location</th>
  <th class="bordered">Currently Job<br />Seeking?</th>
  <th class="bordered">Service</th>
  <th class="bordered">Comments</th>
</tr>
{% for (client_name, office_location, auth_number, these_employees, auth_type, total_jd, vr_counselor, billing_location, cur_job_seeking, service_type, comments, client_uuid) in data_rows %}
<tr>
  <td class="bordered">{{ client_name }}</td>
  <td class="bordered">{{ office_location }}</td>
  <td class="bordered">{{ auth_number }}</td>
  <td class="bordered">
  {% if these_employees.len() != 0 %}
  <form action="/reports/save_billing_tracking_vr_jd_report_row.rs" method="post">
  <select id="employee_username" name="employee_username">
  {% for this_employee in these_employees %}
    <option value="{{ this_employee.username }}">{{ this_employee.first_name }} {{ this_employee.last_name }}</option>
  {% endfor %}
  </select>
  {% endif %}
  </td>
  <td class="bordered">{{ auth_type }}</td>
  <td class="bordered">{{ total_jd }}</td>
  <td class="bordered">{{ vr_counselor }}</td>
  <td class="bordered">
  {{ billing_location }}
  </td>
  <td class="bordered">
  {{ cur_job_seeking }}
  </td>
  <td class="bordered">
  {{ service_type }}
  </td>
  <td class="bordered">
  {{ comments }}
  </td>
  <td>
  {% if these_employees.len() != 0 %}
  <input type="hidden" id="client_uuid" name="client_uuid" value="{{ client_uuid }}"/>
  <input type="submit" value="Save Row" />
  </form>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}