{% extends "base_no_navbar.html" %}
{% block title %}Choose Caseload{% endblock %}
{% block content %}
<form action="change_caseload.rs" method="post">
<label for="caseload">Choose a caseload:</label><br />
<select id="caseload" name="caseload">
<option value="none">None</option>
{% for caseload in caseloads %}
  <option value="{{ caseload.uuid }}">{{ caseload.name }}</option>
{% endfor %}
</select>
<input type="submit" value="Switch Caseload" />
</form>
{% endblock %}