{% extends "base.html" %}
{% block title %}CIE Job Placement{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Success
{% else %}
Error
{% endif %}
<br />
{% when None %}
{% endmatch %}
<h1> CIE Job Placment</h1>
<form action="/reports/jd/cie_jp.rs" method="post">
<p>
  <label for="employer">Employer:</label><br />
  <input type="text" id="employer" name="employer" /><br /><br />
  <label for="employer_address">Employer Address:</label><br />
  <input type="text" id="employer_address" name="employer_address" /><br /><br />
  <label for="job_title">Job Title:</label><br />
  <input type="text" id="job_title" name="job_title" /><br /><br />
  <label for="start_date">Employment Start Date:</label><br />
  <input type="date" id="start_date" name="start_date" /><br /><br />
  <label for="wage">Wage:</label><br />
  <input type="text" id="wage" name="wage" /><br /><br />
  <label for="hours_per_week">Hours / Week:</label><br />
  <input type="text" id="hours_per_week" name="hours_per_week" /><br /><br />
  <label for="benefits">Benefits:</label><br />
  <input type="text" id="benefits" name="benefits" /><br /><br />
  <label for="supervisor_name">Supervisor Name:</label><br />
  <input type="text" id="supervisor_name" name="supervisor_name" /><br /><br />
  <label for="supervisor_contact">Supervisor Contact:</label><br />
  <input type="text" id="supervisor_contact" name="supervisor_contact" /><br /><br />
</p>
<p>
  <h5>Ability One Contracts</h5>
Employment opportunities through Ability One contracts must be evaluated by USOR administration 
prior to client placement to ensure the resulting placement meets the criteria for Competitive 
Integrated Employment (CIE). If considering a specific position with an Ability One contract, please 
contact USOR administration at crp@utah.gov to arrange a CIE position assessment.  
</p>
<p>
<h5>CIE Part 1: Integrated Work Setting</h5>
*All boxes must be checked “Yes” to meet the standard of “Integrated Work Setting” 
</p>
<label for="q1">Is employment setting typically found in the community?</label><br />
Yes <input type="checkbox" id="q1" name="q1" value="yes" checked/><br /><br />
<label for="q2">Is the client’s position integrated in the work setting (NOT an enclave)?</label><br /> 
Yes <input type="checkbox" id="q2" name="q2" value="yes" checked/><br /><br />
<label for="q3">Does the client interact with other persons, (e.g., customers and vendors), who are not individuals 
with disabilities (not including supervisory personnel or individuals who are providing services to 
such employee) for the purpose of performing the duties of the position with other employees 
within the particular work unit and the entire work site, and, as appropriate to the work performed, 
to the same extent that employees who are not individuals with disabilities and who are in 
comparable positions interact with these persons?<br /></label>
Yes <input type="checkbox" id="q3" name="q3" value="yes" checked/><br /><br />
<label for="q3_exp">Explanation:</label><br />
<textarea id="q3_exp" name="q3_exp" rows="10" cols="50"></textarea><br /><br />
<label for="q4">Is the prevalence of coworkers with disabilities similar to that found in the 
community?</label><br />
Yes <input type="checkbox" id="q4" name="q4" value="yes" checked/><br /><br />
<label for="q4_exp">Explanation:</label><br />
<textarea id="q4_exp" name="q4_exp" rows="10" cols="50"></textarea><br /><br />
<label for="q5">Is the employer a non-CRP business/work setting (i.e. is NOT a Community Rehabilitation 
Program and is NOT established by a Community Rehabilitation Program specifically for the 
purpose of employment for people with disabilities)?</label><br />
Yes <input type="checkbox" id="q5" name="q5" value="yes" checked/><br />
  NOTE: Occasionally a CRP may have an administrative position that was not specifically created for the 
employment of individuals with disabilities. These may warrant an exception. Exceptions may be granted 
by USOR administration following a CIE assessment of the position. Please contact crp@utah.gov for more 
information or to request a CIE position assessment.  <br /><br />
<p>
<h5>CIE Part 2: Competitive Wages</h5>
*All boxes must be checked “yes” to meet the standard of “Competitive Wages” <br /><br />
</p>
<label for="q6">Is the client compensated at or above minimum wage?</label><br />
Yes <input type="checkbox" id="q6" name="q6" value="yes" checked/><br /><br />
<label for="q7">Is the client compensated with wages that are greater than or equal to the customary rate paid by 
the employer for the same or similar work performed by employees without disabilities who are 
similarly situated in similar occupations by the same employer and who have similar training, 
experience, and skills? (Self-Employment Instructions: If the client’s earnings are commensurate 
with individuals without disabilities who are self-employed in the same industry, answer yes to this 
question.)</label><br /> 
Yes <input type="checkbox" id="q7" name="q7" value="yes" checked/><br /><br />
<label for="q7_exp">Explanation:</label><br />
<textarea id="q7_exp" name="q7_exp" rows="10" cols="50"></textarea><br /><br />
<label for="q8">Does the client have the same opportunities for advancement as employees without disabilities in 
similar positions?</label><br />
Yes <input type="checkbox" id="q8" name="q8" value="yes" checked/><br /><br />
<label for="q8_exp">Explanation:</label><br />
<textarea id="q8_exp" name="q8_exp" rows="10" cols="50"></textarea><br /><br />
<label for="q9">Does the client have access to the same benefits as employees without disabilities in similar  
positions?</label><br /> 
Yes <input type="checkbox" id="q9" name="q9" value="yes" checked/><br /><br />
<label for="q9_exp">Explanation:</label><br />
<textarea id="q9_exp" name="q9_exp" rows="10" cols="50"></textarea><br /><br />
<label for="crp_signature">CRP Signature: </label>
<input type="text" id="crp_signature" name="crp_signature" /><br /><br />
  <label for="start_hour">Client Schedule Start and End Times: </label><br />
  <select id="start_hour" name="start_hour">
  {% for hour in 1..13 %}
    <option value="{{ hour }}">{{ hour }}</option>
  {% endfor %}
  </select>:
  <select id="start_minute" name="start_minute">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select>
  <select id="start_am" name="start_am">
    <option value="true">AM</option>
    <option value="false">PM</option>
  </select>
  &nbsp; - &nbsp;
  <select id="end_hour" name="end_hour">
  {% for hour in 1..13 %}
    <option value="{{ hour }}">{{ hour }}</option>
  {% endfor %}
  </select>:
  <select id="end_minute" name="end_minute">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select>
  <select id="end_am" name="end_am">
    <option value="true">AM</option>
    <option value="false">PM</option>
  </select><br /><br />
<input type="submit" value="Submit" />
</form>
{% endblock %}