<!DOCTYPE html />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Allies Supported Employment New Client Intake Form</title>
<style type="text/css">
  a, p, body, h1, h2, h3, h4, h5, h6, td, th, form, strong, small, label {
    font-family: "Times New Roman", Times, serif;
  }
</style>
</head>
<body>
{% include "logo.html" %}
{% match success %}
{% when Some with (worked) %}
<div style="border:1px solid black;text-align:center">
{% if worked %}
Form submitted successfully
{% else %}
Error submitting form
{% endif %}
</div>
<br /><br />
{% when None %}
{% endmatch %}
{#
<form action="/client_intake.rs" method="post" enctype="multipart/form-data">
#}
<form action="/client_intake.rs" method="post">
<div style="text-align:center"><small>The information in this form is designed to assist our staff with gathering pertinent information that will lead to finding and maintaining employment.<br /><br />The information is kept confidential and only shared with our administrative staff at ASE.</small></div>
<br />
  <h4>Contact Information</h4>
  <small><strong>If Completing With ASE Staff Present,<br />
  ASE Staff Name<br /></strong></small>
  <table>
  <tr>
  <td><input type="text" id="ase_fname" name="ase_fname" /></td><td><input type="text" id="ase_lname" name="ase_lname" /></td></tr>
  <tr><td><label for="ase_fname">First</label></td><td><label for="ase_lname">Last</label></td></tr>
  </table>
  <br /><br />
  <small><strong>Client Name*</strong></small><br />
  <table>
  <tr>
  <td><input type="text" id="client_fname" name="client_fname" /></td><td><input type="text" id="client_lname" name="client_lname" /></td></tr>
  <tr><td><label for="client_fname">First</label></td><td><label for="client_lname">Last</label></td></tr>
  </table><br />
  <label for="best_contact_pn"><strong>Best Contact Phone Number</strong></label><br />
  <input type="text" id="best_contact_pn" name="best_contact_pn" /><br /><br />
  <label for="best_pn_belongs"><strong>Who's phone number is listed above?</strong></label><br />
  <select id="best_pn_belongs" name="best_pn_belongs">
    <option value="client">Client</option>
    <option value="mother">Mother</option>
    <option value="father">Father</option>
    <option value="legal_guardian">Legal Guardian</option>
    <option value="friend">Friend</option>
    <option value="sibling">Sibling</option>
    <option value="grandparent">Grandparent</option>
    <option value="other">Other</option>
  </select><br /><br />
  <strong>Name of person's phone number, if not client</strong><br />
  <table>
  <tr>
  <td><input type="text" id="best_pn_fname" name="best_pn_fname" /></td><td><input type="text" id="best_pn_lname" name="best_pn_lname" /></td></tr>
  <tr><td><label for="best_pn_fname">First</label></td><td><label for="best_pn_lname">Last</label></td></tr>
  </table><br />
  <label for="secondary_pn"><strong>Secondary Phone Number</strong></label><br />
  <input type="text" id="secondary_pn" name="secondary_pn" /><br /><br />
  <label for="email"><strong>Email</strong></label><br />
  <input type="text" id="email" name="email" /><br /><br />
  <strong>Address *</strong><br /><br />
  <input type="text" id="street_address" name="street_address" /><br />
  <label for="street_address">Street Address</label><br /><br />
  <input type="text" id="address_line_2" name="address_line_2" /><br />
  <label for="address_line_2">Address Line 2</label><br /><br />
  <table>
  <tr>
  <td><input type="text" id="city" name="city" /></td><td><input type="text" id="state" name="state" /></td></tr>
  <tr><td><label for="city">City</label></td><td><label for="state">State / Province / Region</label></td></tr></table><br />
  <table><tr><td><input type="text" id="zip" name="zip" /></td><td><select id="country" name="country">
		<option value="United States" >United States</option>
		<option value="United Kingdom" >United Kingdom</option>
		<option value="Australia" >Australia</option>
		<option value="Canada" >Canada</option>
		<option value="France" >France</option>
		<option value="New Zealand" >New Zealand</option>
		<option value="India" >India</option>
		<option value="Brazil" >Brazil</option>
		<option value="Afghanistan" >Afghanistan</option>
		<option value="Åland Islands" >Åland Islands</option>
		<option value="Albania" >Albania</option>
		<option value="Algeria" >Algeria</option>
		<option value="American Samoa" >American Samoa</option>
		<option value="Andorra" >Andorra</option>
		<option value="Angola" >Angola</option>
		<option value="Anguilla" >Anguilla</option>
		<option value="Antarctica" >Antarctica</option>
		<option value="Antigua &amp; Barbuda" >Antigua &amp; Barbuda</option>
		<option value="Argentina" >Argentina</option>
		<option value="Armenia" >Armenia</option>
		<option value="Aruba" >Aruba</option>
		<option value="Austria" >Austria</option>
		<option value="Azerbaijan" >Azerbaijan</option>
		<option value="Bahamas" >Bahamas</option>
		<option value="Bahrain" >Bahrain</option>
		<option value="Bangladesh" >Bangladesh</option>
		<option value="Barbados" >Barbados</option>
		<option value="Belarus" >Belarus</option>
		<option value="Belgium" >Belgium</option>
		<option value="Belize" >Belize</option>
		<option value="Benin" >Benin</option>
		<option value="Bermuda" >Bermuda</option>
		<option value="Bhutan" >Bhutan</option>
		<option value="Bolivia" >Bolivia</option>
		<option value="Bosnia &amp; Herzegovina" >Bosnia &amp; Herzegovina</option>
		<option value="Botswana" >Botswana</option>
		<option value="Bouvet Island" >Bouvet Island</option>
		<option value="British Indian Ocean Territory" >British Indian Ocean Territory</option>
		<option value="British Virgin Islands" >British Virgin Islands</option>
		<option value="Brunei" >Brunei</option>
		<option value="Bulgaria" >Bulgaria</option>
		<option value="Burkina Faso" >Burkina Faso</option>
		<option value="Burundi" >Burundi</option>
		<option value="Cambodia" >Cambodia</option>
		<option value="Cameroon" >Cameroon</option>
		<option value="Cape Verde" >Cape Verde</option>
		<option value="Caribbean Netherlands" >Caribbean Netherlands</option>
		<option value="Cayman Islands" >Cayman Islands</option>
		<option value="Central African Republic" >Central African Republic</option>
		<option value="Chad" >Chad</option>
		<option value="Chile" >Chile</option>
		<option value="China" >China</option>
		<option value="Christmas Island" >Christmas Island</option>
		<option value="Cocos (Keeling) Islands" >Cocos (Keeling) Islands</option>
		<option value="Colombia" >Colombia</option>
		<option value="Comoros" >Comoros</option>
		<option value="Congo - Brazzaville" >Congo - Brazzaville</option>
		<option value="Congo - Kinshasa" >Congo - Kinshasa</option>
		<option value="Cook Islands" >Cook Islands</option>
		<option value="Costa Rica" >Costa Rica</option>
		<option value="Côte d’Ivoire" >Côte d’Ivoire</option>
		<option value="Croatia" >Croatia</option>
		<option value="Cuba" >Cuba</option>
		<option value="Curaçao" >Curaçao</option>
		<option value="Cyprus" >Cyprus</option>
		<option value="Czechia" >Czechia</option>
		<option value="Denmark" >Denmark</option>
		<option value="Djibouti" >Djibouti</option>
		<option value="Dominica" >Dominica</option>
		<option value="Dominican Republic" >Dominican Republic</option>
		<option value="Ecuador" >Ecuador</option>
		<option value="Egypt" >Egypt</option>
		<option value="El Salvador" >El Salvador</option>
		<option value="Equatorial Guinea" >Equatorial Guinea</option>
		<option value="Eritrea" >Eritrea</option>
		<option value="Estonia" >Estonia</option>
		<option value="Ethiopia" >Ethiopia</option>
		<option value="Falkland Islands" >Falkland Islands</option>
		<option value="Faroe Islands" >Faroe Islands</option>
		<option value="Fiji" >Fiji</option>
		<option value="Finland" >Finland</option>
		<option value="French Guiana" >French Guiana</option>
		<option value="French Polynesia" >French Polynesia</option>
		<option value="French Southern Territories" >French Southern Territories</option>
		<option value="Gabon" >Gabon</option>
		<option value="Gambia" >Gambia</option>
		<option value="Georgia" >Georgia</option>
		<option value="Germany" >Germany</option>
		<option value="Ghana" >Ghana</option>
		<option value="Gibraltar" >Gibraltar</option>
		<option value="Greece" >Greece</option>
		<option value="Greenland" >Greenland</option>
		<option value="Grenada" >Grenada</option>
		<option value="Guadeloupe" >Guadeloupe</option>
		<option value="Guam" >Guam</option>
		<option value="Guatemala" >Guatemala</option>
		<option value="Guernsey" >Guernsey</option>
		<option value="Guinea" >Guinea</option>
		<option value="Guinea-Bissau" >Guinea-Bissau</option>
		<option value="Guyana" >Guyana</option>
		<option value="Haiti" >Haiti</option>
		<option value="Heard &amp; McDonald Islands" >Heard &amp; McDonald Islands</option>
		<option value="Honduras" >Honduras</option>
		<option value="Hong Kong SAR China" >Hong Kong SAR China</option>
		<option value="Hungary" >Hungary</option>
		<option value="Iceland" >Iceland</option>
		<option value="Indonesia" >Indonesia</option>
		<option value="Iran" >Iran</option>
		<option value="Iraq" >Iraq</option>
		<option value="Ireland" >Ireland</option>
		<option value="Isle of Man" >Isle of Man</option>
		<option value="Israel" >Israel</option>
		<option value="Italy" >Italy</option>
		<option value="Jamaica" >Jamaica</option>
		<option value="Japan" >Japan</option>
		<option value="Jersey" >Jersey</option>
		<option value="Jordan" >Jordan</option>
		<option value="Kazakhstan" >Kazakhstan</option>
		<option value="Kenya" >Kenya</option>
		<option value="Kiribati" >Kiribati</option>
		<option value="Kosovo" >Kosovo</option>
		<option value="Kuwait" >Kuwait</option>
		<option value="Kyrgyzstan" >Kyrgyzstan</option>
		<option value="Laos" >Laos</option>
		<option value="Latvia" >Latvia</option>
		<option value="Lebanon" >Lebanon</option>
		<option value="Lesotho" >Lesotho</option>
		<option value="Liberia" >Liberia</option>
		<option value="Libya" >Libya</option>
		<option value="Liechtenstein" >Liechtenstein</option>
		<option value="Lithuania" >Lithuania</option>
		<option value="Luxembourg" >Luxembourg</option>
		<option value="Macau SAR China" >Macau SAR China</option>
		<option value="Republic of North Macedonia" >Republic of North Macedonia</option>
		<option value="Madagascar" >Madagascar</option>
		<option value="Malawi" >Malawi</option>
		<option value="Malaysia" >Malaysia</option>
		<option value="Maldives" >Maldives</option>
		<option value="Mali" >Mali</option>
		<option value="Malta" >Malta</option>
		<option value="Marshall Islands" >Marshall Islands</option>
		<option value="Martinique" >Martinique</option>
		<option value="Mauritania" >Mauritania</option>
		<option value="Mauritius" >Mauritius</option>
		<option value="Mayotte" >Mayotte</option>
		<option value="Mexico" >Mexico</option>
		<option value="Micronesia" >Micronesia</option>
		<option value="Moldova" >Moldova</option>
		<option value="Monaco" >Monaco</option>
		<option value="Mongolia" >Mongolia</option>
		<option value="Montenegro" >Montenegro</option>
		<option value="Montserrat" >Montserrat</option>
		<option value="Morocco" >Morocco</option>
		<option value="Mozambique" >Mozambique</option>
		<option value="Myanmar (Burma)" >Myanmar (Burma)</option>
		<option value="Namibia" >Namibia</option>
		<option value="Nauru" >Nauru</option>
		<option value="Nepal" >Nepal</option>
		<option value="Netherlands" >Netherlands</option>
		<option value="New Caledonia" >New Caledonia</option>
		<option value="Nicaragua" >Nicaragua</option>
		<option value="Niger" >Niger</option>
		<option value="Nigeria" >Nigeria</option>
		<option value="Niue" >Niue</option>
		<option value="Norfolk Island" >Norfolk Island</option>
		<option value="North Korea" >North Korea</option>
		<option value="Northern Mariana Islands" >Northern Mariana Islands</option>
		<option value="Norway" >Norway</option>
		<option value="Oman" >Oman</option>
		<option value="Pakistan" >Pakistan</option>
		<option value="Palau" >Palau</option>
		<option value="Palestinian Territories" >Palestinian Territories</option>
		<option value="Panama" >Panama</option>
		<option value="Papua New Guinea" >Papua New Guinea</option>
		<option value="Paraguay" >Paraguay</option>
		<option value="Peru" >Peru</option>
		<option value="Philippines" >Philippines</option>
		<option value="Pitcairn Islands" >Pitcairn Islands</option>
		<option value="Poland" >Poland</option>
		<option value="Portugal" >Portugal</option>
		<option value="Puerto Rico" >Puerto Rico</option>
		<option value="Qatar" >Qatar</option>
		<option value="Réunion" >Réunion</option>
		<option value="Romania" >Romania</option>
		<option value="Russia" >Russia</option>
		<option value="Rwanda" >Rwanda</option>
		<option value="Samoa" >Samoa</option>
		<option value="San Marino" >San Marino</option>
		<option value="São Tomé &amp; Príncipe" >São Tomé &amp; Príncipe</option>
		<option value="Saudi Arabia" >Saudi Arabia</option>
		<option value="Senegal" >Senegal</option>
		<option value="Serbia" >Serbia</option>
		<option value="Seychelles" >Seychelles</option>
		<option value="Sierra Leone" >Sierra Leone</option>
		<option value="Singapore" >Singapore</option>
		<option value="Sint Maarten" >Sint Maarten</option>
		<option value="Slovakia" >Slovakia</option>
		<option value="Slovenia" >Slovenia</option>
		<option value="Solomon Islands" >Solomon Islands</option>
		<option value="Somalia" >Somalia</option>
		<option value="South Africa" >South Africa</option>
		<option value="South Georgia &amp; South Sandwich Islands" >South Georgia &amp; South Sandwich Islands</option>
		<option value="South Korea" >South Korea</option>
		<option value="South Sudan" >South Sudan</option>
		<option value="Spain" >Spain</option>
		<option value="Sri Lanka" >Sri Lanka</option>
		<option value="St. Barthélemy" >St. Barthélemy</option>
		<option value="St. Helena" >St. Helena</option>
		<option value="St. Kitts &amp; Nevis" >St. Kitts &amp; Nevis</option>
		<option value="St. Lucia" >St. Lucia</option>
		<option value="St. Martin" >St. Martin</option>
		<option value="St. Pierre &amp; Miquelon" >St. Pierre &amp; Miquelon</option>
		<option value="St. Vincent &amp; Grenadines" >St. Vincent &amp; Grenadines</option>
		<option value="Sudan" >Sudan</option>
		<option value="Suriname" >Suriname</option>
		<option value="Svalbard &amp; Jan Mayen" >Svalbard &amp; Jan Mayen</option>
		<option value="Swaziland" >Swaziland</option>
		<option value="Sweden" >Sweden</option>
		<option value="Switzerland" >Switzerland</option>
		<option value="Syria" >Syria</option>
		<option value="Taiwan" >Taiwan</option>
		<option value="Tajikistan" >Tajikistan</option>
		<option value="Tanzania" >Tanzania</option>
		<option value="Thailand" >Thailand</option>
		<option value="Timor-Leste" >Timor-Leste</option>
		<option value="Togo" >Togo</option>
		<option value="Tokelau" >Tokelau</option>
		<option value="Tonga" >Tonga</option>
		<option value="Trinidad &amp; Tobago" >Trinidad &amp; Tobago</option>
		<option value="Tunisia" >Tunisia</option>
		<option value="Turkey" >Turkey</option>
		<option value="Turkmenistan" >Turkmenistan</option>
		<option value="Turks &amp; Caicos Islands" >Turks &amp; Caicos Islands</option>
		<option value="Tuvalu" >Tuvalu</option>
		<option value="U.S. Outlying Islands" >U.S. Outlying Islands</option>
		<option value="U.S. Virgin Islands" >U.S. Virgin Islands</option>
		<option value="Uganda" >Uganda</option>
		<option value="Ukraine" >Ukraine</option>
		<option value="United Arab Emirates" >United Arab Emirates</option>
		<option value="Uruguay" >Uruguay</option>
		<option value="Uzbekistan" >Uzbekistan</option>
		<option value="Vanuatu" >Vanuatu</option>
		<option value="Vatican City" >Vatican City</option>
		<option value="Venezuela" >Venezuela</option>
		<option value="Vietnam" >Vietnam</option>
		<option value="Wallis &amp; Futuna" >Wallis &amp; Futuna</option>
		<option value="Western Sahara" >Western Sahara</option>
		<option value="Yemen" >Yemen</option>
		<option value="Zambia" >Zambia</option>
		<option value="Zimbabwe" >Zimbabwe</option>
  </select>
  </td></tr>
  <tr><td><label for="zip">Postal / Zip Code</label></td><td><label for="country">Country</label></td></tr>
  </table><br />
  <h4>Personal Information</h4>
  <label for="dob"><strong>Date of Birth *</strong></label><br />
  <input type="date" name="dob" id="dob" /><br /><br />
  <label for="ssn"><strong>Social Security Number:<br />
  This field is not sent in email notifications</strong></label><br />
  <input type="text" name="ssn" id="ssn" /><br /><br />
  <label for="ss_card"><strong>Attach a copy of your social security card below</strong></label><br />
  <input type="file" id="ss_card" name="ss_card" /><br /><br />
  <label for="state_license"><strong>Attach a copy of your state issued drivers license or state issued ID below</strong></label><br />
  <input type="file" id="state_license" name="state_license" /><br /><br />
  <h4>Benefit Information</h4> {#
  <strong>Do you receive social security benefits? If so, which one(s)? *</strong><br /><br />
  #}
  <strong>Check all of the following which you receive, if any *</strong><br /><br />
  {#
  <input type="checkbox" id="none" name="ssb_none" value="none" />
  <label for="none">None</label><br />
  #}
  <input type="checkbox" id="ssi" name="ssi" value="ssi" />
  <label for="ssi">SSI</label><br />
  <input type="checkbox" id="ssdi" name="ssdi" value="ssdi" />
  <label for="ssdi">SSDI</label><br />
  <input type="checkbox" id="cdb" name="cdb" value="cdb" />
  <label for="cdb">CDB</label><br />
  <input type="checkbox" id="dwb" name="dwb" value="dwb" />
  <label for="dwb">DWB</label><br /><br /> 
  <input type="checkbox" id="medicare" name="medicare" value="yes"/>
  <label for="medicare">Medicare</label><br />
  <input type="checkbox" id="medicaid" name="medicaid" value="yes"/>
  <label for="medicaid">Medicaid</label><br />
  <input type="checkbox" id="sfb_other" name="sfb_other" value="yes"/>
  <label for="sfb_other">SNAP, Housing, or any other state/federal benefit</label><br /><br />
  <label for="other_benefits"><strong>If receiving SNAP, Housing, or any other state/federal benefits, list them below</strong></label><br />
  <textarea id="other_benefits" name="other_benefits" rows="10" cols="50"></textarea><br /><br />
  <strong>Do you receive services from the Division of Services for People with Disabilities (DSPD)? *</strong><br /><br />
  <input type="radio" id="dspd_yes" name="dspd" value="yes" />
  <label for="dspd_yes">Yes</label><br />
  <input type="radio" id="dspd_no" name="dspd" value="no" />
  <label for="dspd_no">No</label><br /><br />
  <strong>If yes, list your support coordinators name below</strong><br />
  <table>
  <tr>
  <td><input type="text" id="sc_fname" name="sc_fname" /></td><td><input type="text" id="sc_lname" name="sc_lname" /></td></tr>
  <tr><td><label for="sc_fname">First</label></td><td><label for="sc_lname">Last</label></td></tr>
  </table><br /><br />
  <strong>Are you on the Division of Services for People with Disabilities (DSPD) waiting list? *</strong><br /><br />
  <input type="radio" id="dspd_wait_yes" name="dspd_wait" value="yes" />
  <label for="dspd_wait_yes">Yes</label><br />
  <input type="radio" id="dspd_wait_no" name="dspd_wait" value="no" />
  <label for="dspd_wait_no">No</label><br /><br />
  <h4>Residential Information</h4><br />
  <strong>Do you need assistance setting up a bank account that can be used for direct deposit upon obtaining employment? *</strong><br /><br />
  <input type="radio" id="ddeposit_yes" name="ddeposit" value="yes" />
  <label for="ddeposit_yes">Yes</label><br />
  <input type="radio" id="ddeposit_no" name="ddeposit" value="no" />
  <label for="ddeposit_no">No</label><br /><br />
  <strong>Do you have a criminal background? *</strong><br /><br />
  <input type="radio" id="criminalb_yes" name="criminalb" value="yes" />
  <label for="criminalb_yes">Yes</label><br />
  <input type="radio" id="criminalb_no" name="criminalb" value="no" />
  <label for="criminalb_no">No</label><br /><br />
  <label for="crim_back_details">If yes, list charges, dates, and other pertinent information</label><br />
  <textarea id="crim_back_details" name="crim_back_details" rows="10" cols="50"></textarea><br /><br />
  <strong>Have you served in the military? *</strong><br /><br />
  <input type="radio" id="mil_serve_yes" name="mil_serve" value="yes" />
  <label for="mil_serve_yes">Yes</label><br />
  <input type="radio" id="mil_serve_no" name="mil_serve" value="no" />
  <label for="mil_serve_no">No</label><br /><br />
  <label for="mil_serve_details">If yes, list type of discharge, dates served, and other pertinent information</label><br />
  <textarea id="mil_serve_details" name="mil_serve_details" rows="10" cols="50"></textarea><br /><br />
  <strong>Highest level of education *</strong><br />
  <select id="highest_edu" name="highest_edu">
    <option value="elementary">Elementary</option>
    <option value="jrhigh">Jr. High</option>
    <option value="cert_completion">Certificate of Completion</option>
    <option value="post_high_cert">Post High Certification</option>
    <option value="hsd">High School Diploma</option>
    <option value="ged">GED</option>
    <option value="some_college">Some College</option>
    <option value="assoc">Associates</option>
    <option value="bachelors">Bachelors</option>
    <option value="masters">Masters</option>
    <option value="phd">PhD</option>
  </select><br /><br />
  <strong>Do you have a state issued drivers license? *</strong><br /><br />
  <input type="radio" id="driv_license_yes" name="driv_license" value="yes" />
  <label for="driv_license_yes">Yes</label><br />
  <input type="radio" id="driv_license_no" name="driv_license" value="no" />
  <label for="driv_license_no">No</label><br /><br />
  <strong>Do you have a reliable vehicle that you can use to get to and from work? *</strong><br /><br />
  <input type="radio" id="reli_vehicle_yes" name="reli_vehicle" value="yes" />
  <label for="reli_vehicle_yes">Yes</label><br />
  <input type="radio" id="reli_vehicle_no" name="reli_vehicle" value="no" />
  <label for="reli_vehicle_no">No</label><br /><br />
  <strong>Do you need assistance with transportation? i.e. Bus training, rides to and from work, etc. *</strong><br /><br />
  <input type="radio" id="transp_assist_yes" name="transp_assist" value="yes" />
  <label for="transp_assist_yes">Yes</label><br />
  <input type="radio" id="transp_assist_no" name="transp_assist" value="no" />
  <label for="transp_assist_no">No</label><br /><br />
  <strong>Do you have a state issued ID? *</strong><br /><br />
  <input type="radio" id="state_id_yes" name="state_id" value="yes" />
  <label for="state_id_yes">Yes</label><br />
  <input type="radio" id="state_id_no" name="state_id" value="no" />
  <label for="state_id_no">No</label><br /><br />
  <h4>Diagnostic Information</h4>
  <small>The upload section is not required, but may be helpful in better assisting you with receiving higher quality services.</small><br /><br />
  <strong>Do you feel comfortable disclosing diagnosis to ASE staff? *</strong><br /><br />
  <input type="radio" id="comf_diagn_yes" name="comf_diagn" value="yes" />
  <label for="comf_diagn_yes">Yes</label><br />
  <input type="radio" id="comf_diagn_no" name="comf_diagn" value="no" />
  <label for="comf_diagn_no">No</label><br /><br />
  <label for="diags">If yes, report diagnosises below:</label><br />
  <textarea id="diags" name="diags" rows="10" cols="50"></textarea><br /><br />
  <strong>Do you have a behavioral support plan in place through DSPD or a mental health provider? *</strong><br /><br />
  <input type="radio" id="behave_plan_yes" name="behave_plan" value="yes" />
  <label for="behave_plan_yes">Yes</label><br />
  <input type="radio" id="behave_plan_no" name="behave_plan" value="no" />
  <label for="behave_plan_no">No</label><br /><br />
  <strong>If yes, who is your behavior analyst?</strong><br />
  <table>
  <tr>
  <td><input type="text" id="behave_fname" name="behave_fname" /></td><td><input type="text" id="behave_lname" name="behave_lname" /></td></tr>
  <tr><td><label for="behave_fname">First</label></td><td><label for="behave_lname">Last</label></td></tr>
  </table><br /><br />
  <label for="behave_email"><strong>Behavior analyst email</strong></label><br />
  <input type="text" id="behave_email" name="behave_email" /><br /><br />
  <label for="behave_pn"><strong>Behavior analyst phone #</strong></label><br />
  <input type="text" id="behave_pn" name="behave_pn" /><br /><br />
  <label for="resume"><strong>Upload a copy of your most recent resume</strong></label><br />
  <input type="file" id="resume" name="resume" /><br /><br />
  <label for="cover_letter"><strong>Upload a copy of your most recent cover letter</strong></label><br />
  <input type="file" id="cover_letter" name="cover_letter" /><br /><br />
  <label for="letter_rec"><strong>Upload a copy of a letter of recommendation</strong></label><br />
  <input type="file" id="letter_rec" name="letter_rec" /><br /><br />
  <label for="iep"><strong>Upload a copy of your IEP from high school (individual education plan)</strong></label><br />
  <input type="file" id="iep" name="iep" /><br /><br />
  <label for="behave_sup_plan"><strong>Upload a copy of your behavior support plan</strong></label><br />
  <input type="file" id="behave_sup_plan" name="behave-sup_plan" /><br /><br />
  <label for="psy_eval"><strong>Upload a copy of your most recent psychological evaluation</strong></label><br />
  <input type="file" id="psy_eval" name="psy_eval" /><br /><br />
  <input type="submit" value="Submit" />
</form>
</body>
</html>