{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<form action="clock.rs" method="post">
  {% if can_clock_in == true %}
  <label for="clock_type">Clock in:</label>
  <select id="clock_type" name="clock_type">
  {% for clock_type in valid_clock_types %}
    <option value="{{ clock_type }}">{{ clock_type }}</option>
  {% endfor %}
  </select>
  <br /><br />
  <label for="client_uuid">Client:</label>
  <select id="client_uuid" name="client_uuid">
    <option value="none">None</option>
  {% for clientobj in clients %}
  {% let first_name = clientobj.first_name.clone() %}
  {% let last_name = clientobj.last_name.clone() %}
  {% let service = clientobj.service_provided.client_service_string() %}
  {% let client_uuid = clientobj.uuid %}
    <option value="{{ client_uuid }}">{{ first_name }} {{ last_name }} {{ clientobj.auth_num }} {{ service }}</option>
  {% endfor %}
  </select>
  <br /><br />
  <input type="hidden" id="clock_in" name="clock_in" value="true"/>
  <input type="submit" value="Clock In" />
  {% else %}
  <input type="hidden" id="clock_in" name="clock_in" value="false"/>
  {% if show_got_job %}
  <input type="checkbox" id="client_got_job" name="client_got_job" value="yes" />
  <label for="client_got_job">Current client got the job</label>
  {% endif %}
  <input type="submit" value="Clock Out" />
  {% endif %}
</form>
{% match show_times %}
{% when Some with ((clocked_times, total_duration)) %}
<div class="monospace">
{% for (clock_type, clock_in, clock_out, duration) in clocked_times %}
  <small>Start {{ clock_type }}: {{ clock_in }} | Finish: {{ clock_out }} | Duration: {{ duration }}</small><br />
{% endfor %}
Total duration: {{ total_duration }}<br />
</div>
{% when None %}
{% endmatch %}
Time remaining for today: {{ dur_remain_day }}<br />
Time remaining for work week: {{ dur_remain_week }}<br />
Time remaining for pay period: {{ dur_remain_pay_period }}
{% endblock %}