{% extends "base.html" %}
{% block title %}JC Client Schedule{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Row added
{% else %}
Error adding row
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
<form action="/reports/jc/client_schedule.rs" method="post">
  <label for="start_hour">Start and End Times: </label><br />
  <select id="start_hour" name="start_hour">
  {% for hour in 1..13 %}
    <option value="{{ hour }}">{{ hour }}</option>
  {% endfor %}
  </select>:
  <select id="start_minute" name="start_minute">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select>
  <select id="start_am" name="start_am">
    <option value="true">AM</option>
    <option value="false">PM</option>
  </select>
  &nbsp; - &nbsp;
  <select id="end_hour" name="end_hour">
  {% for hour in 1..13 %}
    <option value="{{ hour }}">{{ hour }}</option>
  {% endfor %}
  </select>:
  <select id="end_minute" name="end_minute">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select>
  <select id="end_am" name="end_am">
    <option value="true">AM</option>
    <option value="false">PM</option>
  </select><br /><br />
  <label for="task_label">Label: </label>
  <input type="text" id="task_label" name="task_label" /><br /><br />
  <input type="submit" value="Submit" />
</form>
{% endblock %}