{% extends "base.html" %}
{% block title %}JC Client Schedule{% endblock %}i
{% block style %}
  td.top_left {
    text-align: left;
    vertical-align: top;
  }
  p.center {
    text-align: center;
  }
  table.bordered {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  th.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.bordered {
    border: 1px solid black;
    text-align: center;
  }
  td.left_bordered {
    border: 1px solid black;
    text-align: left;
  }
{% endblock %}
{% block content %}
<table class="bordered">
<tr>
<th class="bordered">
Start Time
</th>
{#
<th class="bordered">
Task
</th>
#}
<th class="bordered">
End Time
</th>
</tr>
{% for (start_time, end_time) in table_rows %}
<tr>
<td class="bordered">{{ start_time }}</td>
{#
<td class="bordered">{{ task_label }}</td>
#}
<td class="bordered">{{ end_time }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
