{% extends "base.html" %}
{% block title %}Job Coaching Tracker{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Successfully added row
{% else %}
Error adding row
{% endif %}
<br />
{% when None %}
{% endmatch %}
<form action="/reports/jc/tracker_report.rs" method="post">
  <label for="days_month">Day: </label>
  <select id="days_month" name="days_month">
  {% for day in days %}
    <option value="{{ day }}">{{ day }}</option>
  {% endfor %}
  </select>
  <label for="hours">Hours:</label>
  <select id="hours" name="hours">
  {% for hour in 0..13 %}
    <option value="{{ hour }}">{{ hour }}</option>
  {% endfor %}
  </select>:
  <select id="minutes" name="minutes">
  {% for minute in vec!("00", "15", "30", "45") %}
    <option value="{{ minute }}">{{ minute }}</option>
  {% endfor %}
  </select>
  <p><strong>Summary of coaching services:</strong></p>
  <p>Primary:</p>
  {% for (num, service) in reports::jc::tracker::CoachingServices::list_all().into_iter().enumerate() %}
    <input type="checkbox" id="s{{ num }}" name="primary[]" value="s{{ num }}" />
    <label for="primary[]">{{ service }}</label><br />
  {% endfor %}
<br />
  <p>
  Secondary:
  </p>
  {% for (num, service) in reports::jc::tracker::CoachingServices::list_all().into_iter().enumerate() %}
    <input type="checkbox" id="s{{ num }}" name="secondary[]" value="s{{ num }}" />
    <label for="secondary[]">{{ service }}</label><br />
  {% endfor %}
  <br />
  <input type="submit" value="Submit" />
</form>
{% endblock %}