{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
{% if invalid == true -%}
<p>Username and/or password was wrong</p>
{% endif -%}
<p>Use the following form to login</p>
<form action="login.rs" method="post">
  <label for="user">Username:</label><br />
  <input type="text" id="user" name="user" /><br /><br />
  <label for="passwd">Password:</label><br />
  <input type="password" id="passwd" name="passwd" /><br /><br />
  <input type="submit" value="Submit" />
</form>
{% endblock %}