{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
<form style="border:1px solid black;padding:2px" action="manage_caseloads.rs" method="post">
  <h1>New Caseload</h1>
  <label for="caseload_name">Name:</label><br />
  <input type="text" id="caseload_name" name="caseload_name" /><br /><br />
  Clients to add:<br /><br />
  {% for this_client in clients %}
  {% let service = this_client.service_provided.client_service_string() %}
  <input type="checkbox" id="{{ this_client.uuid }}" name="client_uuids[]" value="{{ this_client.uuid }}">
  <label for="client_uuids[]">{{ this_client.first_name }} {{ this_client.last_name}} {{ this_client.auth_num }} {{ service }}</label><br />
  {% endfor %}
  <br />
  Employees to add:<br /><br />
  {% for this_employee in employees %}
  <input type="checkbox" id="{{ this_employee.username }}" name="employee_usernames[]" value="{{ this_employee.username }}" />
  <label for="employee_usernames[]">{{ this_employee.first_name }} {{ this_employee.last_name }}</label><br />
  {% endfor %}
  <br />
  <input type="hidden" id="action_type" name="action_type" value="create" />
  <input type="submit" value="Create Caseload" />
</form>
<br /><br /><br />
{% if editing %}
<form style="border:1px solid black;padding:2px" action="manage_caseloads.rs" method="post">
  <h1>Editing {{ editing_caseload_name }}</h1>
  Clients:<br /><br />
  {% for (this_client, checked_string) in clients_checked %}
  {% let service = this_client.service_provided.client_service_string() %}
  <input type="checkbox" id="{{ this_client.uuid }}" name="client_uuids[]" value="{{ this_client.uuid }}"{{ checked_string }} />
  <label for="client_uuids[]">{{ this_client.first_name }} {{ this_client.last_name}} {{ this_client.auth_num }} {{ service }}</label><br />
  {% endfor %}
  <br />
  Employees:<br /><br />
  {% for (this_employee, checked_string) in employees_checked %}
  <input type="checkbox" id="{{ this_employee.username }}" name="employee_usernames[]" value="{{ this_employee.username }}"{{ checked_string }} />
  <label for="employee_usernames[]">{{ this_employee.first_name }} {{ this_employee.last_name }}</label><br />
  {% endfor %}
  <br />
  <input type="hidden" id="action_type" name="action_type" value="save" />
  <input type="hidden" id="caseload" name="caseload" value="{{ caseload_uuid }}" />
  <input type="submit" value="Save Caseload" />
</form>
{% else %}
<form style="border:1px solid black;padding:2px" action="manage_caseloads.rs" method="post">
  <h1>Choose caseload to edit:</h1>
  <select id="caseload" name="caseload">
  {% for caseload in caseloads %}
    <option value="{{ caseload.uuid }}">{{ caseload.name }}</option>
  {% endfor %}
  <input type="hidden" id="action_type" name="action_type" value="edit" />
  <input type="submit" value="Edit Caseload" />
</form>
{% endif %}
{% endblock %}