{% extends "base.html" %}
{% block title %}Management Index{% endblock %}
{% block content %}
{%- if report_allowed == true %} <a href="/report">Reports</a><br /><br />{% endif -%}
{%- if add_authorization_allowed == true %}<a href="/add_authorization">Add Authorization</a><br /><br />{% endif -%}
{%- if add_authorization_allowed == true %}<a href="/add_budget_line">Add Budget Line</a><br /><br />{% endif -%}
{%- if add_employee_allowed == true %}<a href="/add_employee">Add Employee</a><br /><br />{% endif -%}
{%- if add_service_area_allowed == true %}<a href="/add_service_area">Add Service Area</a><br /><br />{% endif -%}
{%- if add_billing_office_allowed == true %}<a href="/add_billing_office">Add Billing Office</a><br /><br />{% endif -%}
{%- if manage_caseloads_allowed == true %}<a href="/manage_caseloads">Manage Caseloads</a><br /><br />{% endif -%}
{% endblock %}