{% extends "base.html" %}
{% block title %}Ongoing Supports Monthly Job Coaching Report{% endblock %}
{% block content %}
<form action="/reports/ongoing_supports/monthly_jc.rs" method="post">
  {% if is_job_coaching %}
  {% if report_state == reports::ongoing_supports::monthly_jc_report::ReportState::First -%}
  <label for="crp">CRP: Allies Supported Employment</label>
  <input type="hidden" id="crp" name="crp" value="Allies Supported Employment"/><br />
  {%- endif -%}
  {%- if !vec!(reports::ongoing_supports::monthly_jc_report::ReportState::Approved, reports::ongoing_supports::monthly_jc_report::ReportState::AlreadyTwo).contains(report_state) -%}
  <p><strong>Worksite Evaluation</strong></p>
  <table>
  <tr><td>
  <label for="attendance"><strong>Attendance:</strong> The employee/client arrives and leaves on time and maintains proper attendance.</label>
  </td><td>
  <select id="attendance" name="attendance">
  {% for num in 1..11 %}
  <option value="{{ num }}">{{ num }}</option>
  {% endfor %}
  </select>
  </td></tr><tr><td>
  <label for="time_management"><strong>Time Managment:</strong> The employee/client takes meals and breaks appropriately.</label>
  </td><td>
  <select id="time_management" name="time_management">
  {% for num in 1..11 %}
  <option value="{{ num }}">{{ num }}</option>
  {% endfor %}
  </select>
  </td></tr><tr><td>
  <label for="appearance"><strong>Appearance:</strong> The employee/client’s grooming and hygiene are appropriate for the workplace.</label>
  </td><td>
  <select id="appearance" name="appearance">
  {% for num in 1..11 %}
  <option value="{{ num }}">{{ num }}</option>
  {% endfor %}
  </select>
  </td></tr><tr><td>
  <label for="communication"><strong>Communication:</strong> The employee/client uses appropriate communication skills.</label>
  </td><td>
  <select id="communication" name="communication">
  {% for num in 1..11 %}
  <option value="{{ num }}">{{ num }}</option>
  {% endfor %}
  </select>
  </td></tr><tr><td>
  <label for="jt_completion_rate"><strong>Job Task Completion Rate:</strong> The employee/client’s performance is comparable to that of coworkers.</label>
  </td><td>
  <select id="jt_completion_rate" name="jt_completion_rate">
  {% for num in 1..11 %}
  <option value="{{ num }}">{{ num }}</option>
  {% endfor %}
  </select>
  </td></tr><tr><td>
  <label for="jt_quality"><strong>Job Task Quality:</strong> The employee/client’s work product meets the employer’s standards.</label>
  </td><td>
  <select id="jt_quality" name="jt_quality">
  {% for num in 1..11 %}
  <option value="{{ num }}">{{ num }}</option>
  {% endfor %}
  </select>
  </td></tr>
  </table><br />
  {% if report_state == reports::ongoing_supports::monthly_jc_report::ReportState::NotFirst -%}
  <br />
  <label for="overall_appraisal">Overall appraisal of the employee/client’s performance:</label><br />
  <textarea id="overall_appraisal" name="overall_appraisal" rows="10" cols="50"></textarea><br /><br />
  <label for="problems">List any problems experienced by the employee/client:</label><br />
  <textarea id="problems" name="problems" rows="10" cols="50"></textarea><br /><br />
  <label for="interventions_used">Interventions Used:</label><br />
  <textarea id="interventions_used" name="interventions_used" rows="10" cols="50"></textarea><br /><br />
  <label for="recommended_interventions">Recommended Interventions:</label><br />
  <textarea id="recommended_interventions" name="recommended_interventions" rows="10" cols="50"></textarea><br /><br />
  <label for="req_counselor_contact">Request counselor contact?</label>
  <input type="checkbox" id="req_counselor_contact" name="req_counselor_contact" value="true"><br /><br />
  <p>I understand that I am electronically signing this form, and I certify that the information on this form is correct to the best of my knowledge.</p>
  <label for="crp_signature">CRP Signature: /s/</label><input type="text" id="crp_signature" name="crp_signature" />
  <br /><br />
  {%- endif -%}
  <input type="submit" value="Submit" />
  {% else if report_state == reports::ongoing_supports::monthly_jc_report::ReportState::Approved -%}
  <p>Report has already been approved this month</p>
  {% else %}
  <p>You have already submitted all needed information.  It is waiting to be approved.</p>
  {%- endif %}
  {% else %}
  <p>You are not clocked in or the client you are clocked in for does not have job coaching services</p>
  {% endif %}
</form>
{% endblock %}