<div><a href="logout">Log out</a> | <a href="/">Home</a>
{%- if report_allowed == true || add_authorization_allowed == true || add_authorization_allowed == true || add_employee_allowed == true || add_service_area_allowed == true || add_billing_office_allowed == true || manage_caseloads_allowed == true %}
| <a href="/management_index">Management Index</a>
{% endif %}
| <a href="/choose_caseload">Switch Caseload</a>
&nbsp;| <a href="/report_index">Report Index</a> | <a href="/settings">Settings</a></div><br />