<!DOCTYPE xhtml />
<html>
<head>
<title>Register</title>
</head>
<body>

<p>Use the following form to register&#58;</p>
<p>To accept your employment offer, please enter and confirm your password</p>
<p>Your username will be {{ username }}</p>

<form action="/register.rs" method="post">
  <label for="passwd">Password:</label><br />
  <input type="password" id="passwd" name="passwd" /><br /><br />
  <label for="cpasswd">Confirm Password:</label><br />
  <input type="password" id="cpasswd" name="cpasswd" /><br /><br />
  <input type="hidden" id="key" name="key" value="{{ key }}"/>
  <input type="hidden" id="code" name="code" value="{{ code }}"/>
  <input type="hidden" id="username" name="username" value="{{ username }}"/>
  <input type="submit" value="Submit" />
</form>
</body>
</html>
