{% extends "base.html" %}
{% block title %}Generate Reports{% endblock %}
{% block content %}
<form action="report.rs" method="post">
  <label for="start_date">Start date: </label>
  <input type="date" id="start_date" name="start_date" />
  <label for="end_date">End date: </label>
  <input type="date" id="end_date" name="end_date" /><br /><br />
  <label for="employee">Employee:</label>
  <select id="employee" name="employee">
  {% for employee in employees %}
    <option value="{{ employee.username }}">{{ employee.first_name }} {{ employee.last_name }}</option>
  {% endfor %}
  </select>
  <br /><br />
  <input type="submit" value="Calculate" />
</form>
{% match output_report %}
{% when Some with (report_data) %}
<p>{{ report_data }}</p>
{#
{% for clocked in report_data %}
{% if clocked.is_clocking_in() %}
{% let clock_type_string = clocked.clock_type_string() %}
{% let start_time = %}
#} 
{% when None %}
{% endmatch %}
<p><a href="/monthly_jc_report_export">Export Ongoing Supports Monthly Job Coaching Report</a></p>
<p><a href="/reports/billing_tracking_table">VR Hourly Billing Tracking Table</a></p>
<p><a href="/reports/jc/client_schedule_table">JC Client Schedule Table</a></p>
<p><a href="/reports/billing_tracking_vr_jd_report">Billing Tracking VR JD Report</a></p>
<p><a href="/jc_tracker_report_export">Export JC Tracking Report</a></p>
{% endblock %}