{% extends "base.html" %}
{% block title %}Reports Index{% endblock %}
{% block content %}
{% for (label, link) in report_urls %}
<a href="{{ link }}">{{ label }}</a><br /><br />
{% endfor %}
{% endblock %}