{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
{% match success %}
{% when Some with (worked) %}
{% if worked %}
Time zone changed successfully
{% else %}
Error changing timezone
{% endif %}
<br /><br />
{% when None %}
{% endmatch %}
<form action="settings.rs" method="post">
  <label for="timezone">Time zone:</label>
  <select id="timezone" name="timezone">
  {% for timezone in timezones %}
    <option value="{{ timezone }}">{{ timezone }}</option>
  {% endfor %}
  </select>
  <br /><br />
  <input type="submit" value="Save Changes" />
</form>
{% endblock %}