{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<h1>Initial Setup</h1>
<p>Use the following form to do first time setup&#58;</p>
<form action="setup.rs" method="post">
  <label for="user">Username:</label><br />
  <input type="text" id="user" name="user" /><br /><br />
  <label for="email">Email address:</label><br />
  <input type="text" id="email" name="email" /><br /><br />
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" /><br /><br />
  <label for="passwd">Password:</label><br />
  <input type="password" id="passwd" name="passwd" /><br /><br />
  <label for="cpasswd">Confirm Password:</label><br />
  <input type="password" id="cpasswd" name="cpasswd" /><br /><br />
  <label for="dept">Department:</label><br />
  <input type="text" id="dept" name="dept" /><br /><br />
  <label for="jobd">Job Description:</label><br />
  <textarea id="jobd" name="jobd" rows="10" cols="50"></textarea><br /><br />
  <label for="office">Office Location:</label><br />
  <select id="office" name="office">
  {% for office_name in offices %}
  {% let office = OfficeLocation::from(office_name.clone()) %}
    <option value="{{ office }}">{{ office_name }}</option>
  {% endfor %}
</select><br /><br />
  <input type="submit" value="Submit" />
</form>
{% endblock %}